*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
}
image{
    max-width: 100%;
}
.container{
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav ul li a{
    text-decoration: none;
    color:#ff;
    font-size: 20px;
    
}
