*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #fff;
    
}
image{
    max-width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.fac {
color: blue;
 transition: all 0.3s ease;
cursor: pointer;
 }

.fac:hover {
 color: rgb(2, 2, 150);
}